{% extends "layout.html" %} 
{% block title %} First App {% endblock %} 

{% block content %}

<div class="grid grid-cols-3 gap-2 m-4">

  {% for chai in chais %}
  <div class="flex flex-col items-center justify-center">
    <img class="w-56 h-56 rounded-sm" src="{{chai.image.url}}" alt="image" />
    <h3 class="mt-4 text-xl font-bold text-center" >{{chai.name}}</h3>
    <a href="{% url "chai_detail" chai.id %}">
      <button class="px-6 py-2 mt-2 font-medium bg-blue-400 rounded-md" >
        {{chai.type}} - {{chai.id}}
      </button>
    </a>
  </div>
  {% endfor %} 
  
</div>

{% endblock %}
